#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 1rem;
  border: 0;
  border-bottom: 2px #efefef solid;
  margin-bottom: 10px;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 0;
  background: rgb(54, 54, 54);
}

.card-links {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.card-links li {
  list-style: none;
  margin-bottom: 10px;
  text-align: start;
}

.error {
  color: palevioletred;
  padding: 1rem;
  background: #000;
  border-radius: 10px;
}
